h1 {
    color: #dde4fc;
    font-size: 2.7rem;
    margin-bottom: 1vw;
}

.contact-info {
    font-size: 1.2rem;
    margin-bottom: 2vw;
    text-decoration: none;
}

.contact-info a {
    color: #02ca16;
    text-decoration: none;
}

body {
    background-color: rgb(0, 0, 0);
}

.card {
    border: 1.5px solid #f0eeee;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    width: 90%; 
    overflow: hidden;
}

.card-header  {
    color:#dde4fc;
    padding: 0.25vw 2vw;
    border-bottom: 1.5px solid #f0eeee;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2vw;
}

.card-body {
    color:#dde4fc;
    padding: 1vw;
    font-size: 1rem;
}

.form-group {
    font-size: 1rem;
}

.form-buttons {
    margin-left: 4rem;
}

